<div class="row">

  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        用户详细列表
      </nb-card-header>

      <nb-card-body>
        <table style="width: 100%" mat-table [dataSource]="users">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>id</th>
            <td mat-cell *matCellDef="let item">{{ item.userId }}</td>
          </ng-container>
          <ng-container matColumnDef="nickname">
            <th mat-header-cell *matHeaderCellDef>姓名</th>
            <td mat-cell *matCellDef="let item">{{ item.nickName }}</td>
          </ng-container>
          <ng-container matColumnDef="avatar">
            <th mat-header-cell *matHeaderCellDef>头像</th>
            <td mat-cell *matCellDef="let item">
              <img [src]='item.avatarUrl' class="avatar-img" />
            </td>
          </ng-container>
          <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef>性别</th>
            <td mat-cell *matCellDef="let item">{{ item.gender | gender }}</td>
          </ng-container>
          <ng-container matColumnDef="registeredAt">
            <th mat-header-cell *matHeaderCellDef>注册时间</th>
            <td mat-cell *matCellDef="let item">{{ item.registeredAt | date: 'yyyy-MM-dd hh:mm:ss' }}</td>
          </ng-container>
          <ng-container matColumnDef="registeredWeek">
            <th mat-header-cell *matHeaderCellDef>注册星期</th>
            <td mat-cell *matCellDef="let item">{{ item.dayOfWeek | dayOfWeek }}</td>
          </ng-container>
          <ng-container matColumnDef="registeredAddr">
            <th mat-header-cell *matHeaderCellDef>注册IP</th>
            <td mat-cell *matCellDef="let item">{{ item.registeredAddr }}</td>
          </ng-container>
          <ng-container matColumnDef="games">
            <th mat-header-cell *matHeaderCellDef>总开局数</th>
            <td mat-cell *matCellDef="let item">{{ item.games }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </nb-card-body>
    </nb-card>
    
    <div>
        总用户数：<span> {{ totalUser }} </span>
        微信用户：<span>{{ totalWxUser }} </span>
        游客：<span> {{ totalAnonymousUser }} </span>
      <button type="button" class="btn btn-primary " (click)="prePage(true)">首页</button>
      <button type="button" class="btn btn-primary " (click)="prePage()">上一页</button>
      <button type="button" class="btn btn-primary " (click)="nextPage()">下一页</button>
      <button type="button" class="btn btn-primary " (click)="nextPage(true)">末页</button>
        第<span>{{ pageIndex + 1 }}</span>页/共<span>{{ pages }}</span>页
    </div>
  </div>
</div>
