<div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-6">
        <app-trend-card *ngIf="recentNewUserPoints" label="总用户数" [value]="data?.totalUser" [trend]="recentNewUserPoints"></app-trend-card>
      </div>
      <div class="col-md-6">
        <app-trend-card *ngIf="recentNewRoomPoints" label="总局数" [value]="data?.totalRooms" [trend]="recentNewRoomPoints"></app-trend-card>
      </div>
    </div>

    <app-recent-user-card title="最近7日新增玩家" [trafficData]="countNewUserData"></app-recent-user-card>
  </div>
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-6">
        <app-trend-card label="微信用户" [value]="data?.totalWxUser"></app-trend-card>
      </div>
      <div class="col-md-6">
        <app-trend-card label="游客" [value]="data?.totalAnonymousUser"></app-trend-card>
      </div>
    </div>

    <app-recent-user-card title="最近7日新开局数" [trafficData]="countNewRoomData"></app-recent-user-card>
  </div>
</div>