<div class="row">
  <div class="col-md-12">
    <mat-tab-group>
      <mat-tab label="开局详细列表">
        <nb-card>
          <nb-card-header>
            开局详细列表
          </nb-card-header>

          <nb-card-body>
            <table style="width: 100%" mat-table [dataSource]="rooms">
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>id</th>
                <td mat-cell *matCellDef="let item">{{ item.GameId }}</td>
              </ng-container>
              <ng-container matColumnDef="players">
                <th mat-header-cell *matHeaderCellDef>游戏人数</th>
                <td mat-cell *matCellDef="let item">{{ item.Players }}</td>
              </ng-container>
              <ng-container matColumnDef="winCamp">
                <th mat-header-cell *matHeaderCellDef>获胜阵营</th>
                <td mat-cell *matCellDef="let item">{{ item.WinCamp }}</td>
              </ng-container>
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>开局状态</th>
                <td mat-cell *matCellDef="let item">{{ item.GameStatus | gameStatus }}</td>
              </ng-container>
              <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef>开局时间</th>
                <td mat-cell *matCellDef="let item">{{ item.createdAt | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
              </ng-container>
              <ng-container matColumnDef="updatedAt">
                <th mat-header-cell *matHeaderCellDef>更新时间</th>
                <td mat-cell *matCellDef="let item">{{ item.updatedAt | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
              </ng-container>
              <ng-container matColumnDef="dayOfWeek">
                <th mat-header-cell *matHeaderCellDef>开局星期</th>
                <td mat-cell *matCellDef="let item">{{ item.dayOfWeek | dayOfWeek }}</td>
              </ng-container>

              <ng-container matColumnDef="disclaimer">
                <td mat-footer-cell *matFooterCellDef colspan="6">
                  总开局数：<span> {{ totalRoom }} </span>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <tr mat-footer-row *matFooterRowDef="['disclaimer']"></tr>
            </table>
            <mat-paginator showFirstLastButtons="true" [length]="totalRoom" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
              (page)="refreshPage($event)">
            </mat-paginator>
          </nb-card-body>
        </nb-card>
      </mat-tab>
      <mat-tab label="开局人数饼图">
        <nb-card>
          <nb-card-header>
            开局人数饼图
          </nb-card-header>

          <nb-card-body>
            <ngx-pie-chart *ngIf="chartData" [data]="chartData"></ngx-pie-chart>
          </nb-card-body>
        </nb-card>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>